<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://forcosmos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/6a5982c8-342e-4aaa-9d31-027607accdaf/resourceGroups/iot2020/providers/Microsoft.Web/sites/forcosmos</ResourceId>
    <UserName>$forcosmos</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://forcosmos.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>